* {
  scrollbar-width: thin;
  scrollbar-color: var(--chakra-colors-app-divider) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-app-divider);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--chakra-colors-white) 30%, transparent);
}
