body {
	margin: 0;
  }

.arrow {
	position: relative;
	padding: 12px 0;
  }

  .arrow:before {
	content: '';
	height: 0;
	width: 0;
	border-width: 0 8px 12px 8px;
	border-style: solid;
	border-color: transparent transparent #1A202C transparent;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
  }

