body {
  margin: 0;
}

.accordion-shadow {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
	border: 1px solid #e2e8f0; /* For light borders; change as needed */
  }
/* The scrollbar track (background) */
/* The scrollbar track (background) */
::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar thumb on hover */
}

/* The scrollbar thumb (movable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar thumb */
  border-radius: 6px; /* roundness of the scrollbar thumb */
  border: 2px solid transparent; /* creates padding around the thumb */
  background-clip: content-box; /* ensures the border doesn't occupy space */
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
.VStackClass {
  background: transparent;
}

.iconButton {
  font-size: 18px;
  height: 24px;
  width: 24px;
}

.iconButton svg {
  width: 1rem;
  height: 1rem;
}
